Source: houseagent
Section: python
Priority: optional
Maintainer: David Whyte <david.whyte@gmail.com>
Build-Depends: debhelper (>= 7), python-support, python (>=2.4)
Standards-Version: 3.9.2
Homepage: http://projects.maartendamen.com/projects/houseagent

Package: houseagent
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, rabbitmq-server, python-twisted-web, python-mako, python-pyrrd, python-txamqp, twisted.scheduling
Description: Home automation core framework.
 HouseAgent is a multi platform, open source home automation application.
