<%inherit file="/master.html"/>

<%def name="head()">
<script language='javascript'>
$(document).ready(function() 
{
    $('table td img.delete').click(function(){
        var answer = confirm("Are you sure you want to delete this device? Please note that this will also delete any values associated with this device!")
        if (answer){
            var elem = $(this)
            id = $(this).parent().parent().parent().attr('id')
            var dataString = 'id=' + id;
            
            $.ajax({
                type: "POST",
                url: "/device_del", 
                data: dataString,
                success: function(data) {
                            elem.parent().parent().parent().remove();
                         }
            });
        }   
        return false;
    });

});
</script>
</%def>

<%def name="content()">
<div id="output"></div>
<table cellspacing="0" cellpadding="0" align="left" width="60%" id="devices">
	<tbody>
		<tr>
			<td class="HeadText">Device management</td>
		</tr>
		<tr>
			<td class="body info">
				<p>This page allows management of the devices created in the HouseAgent database.</p>
			</td>
		</tr>
		<tr>
			<td class="body">
				<table class="InfoTable" cellspacing="0" cellpadding="0" border="0" width="100%">
					<tbody>
						<tr class="HeadTable">
							<td nowrap="" width="16%">Device Name</td>
							<td nowrap="" width="16%">Device Address</td>\
							<td nowrap="" width="16%">Location</td>
							<td nowrap="" width="16%">Plugin</td>
							<td nowrap="" width="6%">Actions</td>
						</tr>
						% for device in result:
						<tr class="Row" id=${device[0]}>
							<td>${device[1]}</td>
							<td>${device[2]}</td>
							<td>${device[4]}</td>
							<td>${device[3]}</td>
							<td>
								<a href="#delete"><img class="delete" border="0" src="/images/delete.png"></a>
								<a href="/device_edit?id=${device[0]}"><img border="0" src="/images/edit.png"></a>
							</td>														
						</tr>
						% endfor
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</%def>