<%inherit file="/master.html"/>

<%def name="head()">
<script src="/js/jquery-spin.js"></script>
<script language='javascript'>
function control_on_off(value_id, action, statusfield)
{
        
        $.ajax({
            type: "GET",            
            url: '/values/' + value_id + '?action=' + action, 
            success: function(data) {

                        if (data == 0) {
                            $('#' + statusfield).html("<font color='red'><b>Request failed!</b></font>");
                        } else {
                            if (action == "poweron") {
                                $('#' + statusfield).html("On");
                            } else if (action == "poweroff") {
                                $('#' + statusfield).html("Off");
                            }
                        }
                        
                     }
        });
}

function thermostat_setpoint(value_id, statusfield)
{
    temp = $('#stat' + value_id).val();
    
        $.ajax({
            type: "GET",            
            url: '/values/' + value_id + '?action=thermostat_setpoint&temp=' + temp, 
            success: function(data) {

                        if (data == 0) {
                            $('#' + statusfield).html("<font color='red'><b>Request failed!</b></font>");
                        } else {
                            $('#' + statusfield).html(temp);
                        }
                        
                     }
        });
}
    
function dim(value_id, statusfield)
{
    level = $('#stat' + value_id).val();
    
        $.ajax({
            type: "GET",            
            url: '/values/' + value_id + '?action=dim&level=' + level, 
            success: function(data) {

                        if (data == 0) {
                            $('#' + statusfield).html("<font color='red'><b>Request failed!</b></font>");
                        } else {
                            $('#' + statusfield).html(temp);
                        }
                        
                     }
        });
}
    
$(document).ready(function() 
{
    $('.statspin').spin({
        imageBasePath: '/images/',
        interval: 0.5
    });
    $('.dimspin').spin({
        imageBasePath: '/images/',
        interval: 5
    });

});
</script>
</%def>
<%def name="content()">
<table cellspacing="0" cellpadding="0" align="center" width="100%">
	<tbody>
		<tr>
			<td class="HeadText">Lighting and control devices</td>
		</tr>
		<tr>
			<td class="body info">
				<p>This page lists information about lighting and control devices, this basically is any device that has a controlable function. For example: light switches, dimmers, thermostats etc.</p>
			</td>
		</tr>
		<tr>
			<td class="body">
				<table class="InfoTable" cellspacing="0" cellpadding="0" border="0" width="100%">
					<tbody>
						<tr class="HeadTable">
							<td nowrap="" width="5%">Actions</td>
							<td nowrap="" width="5%">Id</td>
							<td nowrap="" width="5%">Device name</td>
							<td nowrap="" width="12%">Label</td>
							<td nowrap="" width="12%">Status</td>
						</tr>
						% for device in result:
						<tr class="Row">
							<td>
							
							% if device[4] == "CONTROL_TYPE_ON_OFF":
								<button onclick='javascript:control_on_off("${device[0]}", "poweron", "status${device[0]}");' class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all">
								   <span class="ui-button-text">On</span>
								</button> 
								<button onclick='javascript:control_on_off("${device[0]}", "poweroff", "status${device[0]}");' class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all">
								   <span class="ui-button-text">Off</span>
								</button>
							% elif device[4] == "CONTROL_TYPE_THERMOSTAT":
								<input value='${device[3]}' id='stat${device[0]}' size=3 type="input" class="statspin" />
								<button onclick='javascript:thermostat_setpoint("${device[0]}", "status${device[0]}");' class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">Set</span></button>
							% elif device[4] == "CONTROL_TYPE_DIMMER":
								<input value='${device[3]}' id='stat${device[0]}' size=3 type="input" class="dimspin" />
								<button onclick='javascript:dim("${device[0]}", "status${device[0]}");' class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">Set</span></button>
							% endif
							</td>

							<td>${device[0]}</td>
							<td>${device[1]}</td>
							<td>${device[2]}</td>
							<td id='status${device[0]}'>${device[3]}</td>
						</tr>
						% endfor
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</%def>