<%inherit file="/master.html"/>

<%def name="head()">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />
    <script src="/js/grid.locale-en.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>

    <script language='javascript'>
        $(document).ready(function() {
        
            var locations = eval($.ajax({url: '/locations', async: false, success: function(data, result) {if (!result) alert('Failure to retrieve locations.');}}).responseText);           
            var locations_list = ":None;";
            var first = true;
            $.each(locations, function(i, item){
                if (first) {
                    first = false;
                    locations_list += item.id + ":" + item.name;
                } else {
                    locations_list += ";" + item.id + ":" + item.name;
                }                
            });
            
            var plugins = eval($.ajax({url: '/plugins', async: false, success: function(data, result) {if (!result) alert('Failure to retrieve plugins.');}}).responseText);           
            var plugins_list = "";
            var first = true;
            $.each(plugins, function(i, item){
                if (first) {
                    first = false;
                    plugins_list += item.id + ":" + item.name;
                } else {
                    plugins_list += ";" + item.id + ":" + item.name;
                }                
            });
                                
            jQuery("#devices").jqGrid({
                url:'/devices',
                datatype: "json",
                colNames:['Device name','Device address','Plugin', 'Location'],
                colModel:[
                    {name:'name',index:'name', width:220,editable:true,editoptions:{size:20}},
                    {name:'address',index:'address', width:220,editable:true,editoptions:{size:20}},
                    {name:'plugin',index:'plugin', width:110,editable:true, edittype: "select" ,editoptions:{size:10}},
                    {name:'location',index:'location', width:110,editable:true, edittype: "select" ,editoptions:{size:10}},
                ],
                rowNum:10,
                rowList:[10,20,30,50,100],
                pager: '#pagernav',
                sortname: 'id',
                viewrecords: true,
                sortorder: "desc",
                caption:"HouseAgent devices",
                editurl:"devices",
                height:300,
                width:850,
                jsonReader: {
                    repeatitems: false,
                    id: "id",
                    root: function (obj) { return obj; },
                    page: function (obj) { return 1; },
                    total: function (obj) { return 1; },
                    records: function (obj) { return obj.length; }
                },
                loadComplete: function() {
                    $("#devices").setColProp('location', { editoptions: { value: locations_list} });
                    $("#devices").setColProp('plugin', { editoptions: { value: plugins_list} });
                },                                
            });
            
			$("#devices").jqGrid('navGrid', '#pagernav',
			    {edit: true, search: false}, 
			    { // Edit parameters
			        mtype: "PUT",
			        url: "devices",
			        width: 380,
			    }, {width: 380},
			    { // Delete parameters
			        mtype: "DELETE",
			        serializeDelData: function () {
			            return ""; // don't send and body for the HTTP DELETE
			        },
			        onclickSubmit: function (params, postdata) {
			            params.url = '/devices/' + encodeURIComponent(postdata);
			        }
			    });
        });    

    </script>
</%def>
<%def name="content()">
<div class="HeadText">HouseAgent devices</div>
<p>This page allows management of the devices created in the HouseAgent database.</p>
<table id="devices"></table>
<div id="pagernav"></div>  
</%def>