<%inherit file="/master.html"/>

<%def name="head()">
<script type="text/javascript" src="/js/jquery.selectboxes.js"></script>
<script src="/js/jquery.flot.js" type="text/javascript"></script>
<!--[if IE]>
	<script language="javascript" type="text/javascript" src="/js/excanvas.pack.js"></script>
<![endif]-->
<script>
$(document).ready(function() 
{
	$('#create_button').button();

	function trim(value) {
	  value = value.replace(/^\s+/,'');
	  value = value.replace(/\s+$/,'');
	  return value;
	}

	function basic_data(d) {
		var value_name = $("#historic_values option:selected").text().split(' - ')[1];
		
		switch(value_name)
		{
			case "Temperature":
			  color = '#ff0000';
			  break;
			case "Humidity":
		      color = '#157DEC';
		      break;
		    case "Light": case "Lux":
		      color = '#FFF380';
		      break;
			default:
			  color = "#CAEF90";
		}
		
		var data1 = [ { label: value_name, data: d, color: color} ];
		var options = {
			xaxis: {
				mode: "time",
				tickLength: 0
			},
			grid: {
				borderColor: "#ffffff"
			},
			series: {
				lines: {
					show: true,
					fill: true
				}
			}
		};
		
		$.plot($("#graph_latest"), data1, options );
	}
	
	function agg_data(d) {
		var value_name = $("#historic_values option:selected").text().split(' - ')[1];
		
		switch(value_name)
		{
			case "Temperature":
			  color = '#ff0000';
			  break;
			case "Humidity":
		      color = '#157DEC';
		      break;
		    case "Light": case "Lux":
		      color = '#FFF380';
		      break;
			default:
			  color = "#CAEF90";
		}
		
		var data1 = [
			{label: "current", data: d[0], color: "#caef90"},
			{label: "min", data: d[1], color: "#1111da"},
			{label: "avg", data: d[2], color: "#da11da"},
			{label: "max", data: d[3], color: "#da1111"}
		];
		var options = {
			xaxis: {
				mode: "time",
				tickSize: [30, "minute"],
				tickLength: 0
			},
			grid: {
				borderColor: "#ffffff"
			},
			series: {
				lines: {
					show: true,
					fill: false
				},
				points: {
					show: true
				}
			}
		};
		
		$.plot($("#graph_day"), data1, options );
	}

	$('#create_button').click(function() {
		val_id = $("#value").val();
		//type = $("#type").val();
		//period = $("#period").val();
	
	    $.ajax({
	        url: '/graph_latest',
	        method: 'GET',
	        dataType: 'json',
	        //data: 'type='+ type +'&val_id=' + val_id + '&period=' + period,
	        //data: 'val_id=' + val_id + '&period=' + period,
	        data: 'val_id=' + val_id,
	        success: basic_data
	    });

	    $.ajax({
		url: "/graph_daily",
		method: "GET",
		dataType: "json",
	        data: 'val_id=' + val_id,
	        success: agg_data
	    });
	});	
});
</script>

</%def>
<%def name="content()">
<table cellspacing="0" cellpadding="0" align="center" width="100%" id="event_create">
	<tbody>
		<tr>
			<td class="HeadText">Create graph</td>
		</tr>
		<tr>
			<td class="body info">
				<p>This page allows you to create a graph, based on historic data stored in the database.</p>
			</td>
		</tr>
		<tr>
			<td class="body info">
				<div id="graphzone">
					Please select a value for graph:<br>
					<select id="value">
						% for historic_value in result:
							<option value="${historic_value[0]}">${historic_value[1]}</option>
						% endfor
					</select>
					<!--<br>Please select a reporting period for the graph:<br>
					<select id="period">
						<option value="-1h">Last hour</option>
						<option value="-4h">Last 2 hours</option>
						<option value="-4h">Last 4 hours</option>
						<option value="-8h">Last 8 hours</option>
						<option value="-12h">Last 12 hours</option>
						<option value="-1d">Last day</option>
						<option value="-3d">Last 3 days</option>
						<option value="-7d">Last 7 days</option>
						<option value="-14d">Last 14 days</option>
						<option value="-1m">Last month</option>
						<option value="-3m">Last 3 months</option>
						<option value="-6m">Last 6 months</option>
						<option value="-1y">Last year</option>
						<option value="-2y">Last 2 years</option>	
						<option value="-3y">Last 3 years</option>	
						<option value="-5y">Last 5 years</option>
						<option value="-5y">Last 10 years</option>			
					</select>-->				
					<br><br>
					<button id="create_button">Create graph</button><br><br>
				</div>
				<div id="graphzone2">
					<p id="graphtext" style="display: none;">lalalala</p>
					<div id="graph_latest" style="width:100%;height:200px"></div>
					<br/><br/>
					<div id="graph_day" style="width:100%;height:200px"></div>
					<br/><br/>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</%def>
