<%inherit file="/master.html"/>
<%def name="head()">
</%def>
<%def name="content()">
<table cellspacing="0" cellpadding="0" align="center" width="100%">
    <tbody>
        <tr>
            <td class="HeadText">Welcome to HouseAgent</td>
        </tr>
        <tr>
          <td class="body">
          Welcome to the HouseAgent home automation software!<br>
          Please use one of the menu options above to get started. If this is your first run, you should start by adding locations (rooms, buildings etc.).
          <br>After that you can continue with plug-ins and devices.<br> Once you got all that up and running, you can use some of the other features like events, graphs etc.<br>
          </td>
        </tr>
    </tbody>
</table>
</%def>