<%inherit file="/master.html"/>
<%def name="head()">
<script language='javascript'>
$(document).ready(function() 
{
    $('.error').hide();
    
	$("#editlocation_button").button();

	$('#editlocation_button').click(function() {
        location_name = $("input#name");
        location_parent = $("#parent").val();
        location_id = ${loc[0][0]};
        
        if (location_name.val() == "") {
            $("label#name_error").show();
            location_name.focus();
            return false;
        }
        
        if (location_parent != 0) {
            var dataString = 'name=' + location_name.val() + '&parent=' + location_parent + "&id=" + location_id;    
        } else {
            var dataString = 'name=' + location_name.val() + "&id=" + location_id;
        }       

        $.ajax({
            type: "POST",
            url: "/location_edited", 
            data: dataString,
            success: function(data) {
                        $("#message").html('Location succesfully updated!');
                          $('#message').toggle("slow", function() {
                          });
                     }
        });

	});
});
</script>
</%def>
<%def name="content()">
<table cellspacing="0" cellpadding="0" align="left" width="600">
	<tbody>
		<tr>
			<td class="HeadText">Edit location</td>
		</tr>
		<tr>
			<td class="body info">
				<p>This page allows you to edit an existing location.</p>
			</td>
		</tr>
		<tr>
			<td class="body">
				<form name="room_add">
					<table class="Panel" cellspacing="0" cellpadding="2" border="0" width="100%">
						<tbody>
							<tr>
								<td class="Head2" colspan="3">Add new location</td>
							</tr>
							<form>
							<tr>
								<td class="Label">
									<span class="requiredfield">*</span>
									Location name: 
								</td>
								<td>
									<input class="Field250" name="name" id="name" value="${loc[0][1]}">
									<label class="error" for="name" id="name_error">This field is required.</label> 
								</td>
							</tr>
                            <tr>
                                <td class="Label">
                                    Parent 
                                </td>
                                <td>
                                    <select id="parent">
                                        <option selected value="0">Please select a parent (optional)</option>
                                        % for location in locations:
                                            <option value="${location[0]}">${location[1]}</option>
                                        % endfor
                                    </select>       
                                </td>
                            </tr>							
						</tbody>
					</table>
					<div id="message" class="message"></div>
				</form>
				<table class="PanelPlain" cellspacing="0" cellpadding="2" border="0" width="100%">
					<tbody>
						<tr>
							<td class="Label">&nbsp;</td>
							<td height="30" valign="top">
								<button id="editlocation_button">Edit location</button><br><br>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</%def>