<items>
    <item name="Management" url="#" image="/images/manage.png">
        <subitem>
            <name>Manage locations</name>
            <url>/locations_view</url>
            <description>This page allows you to manage HouseAgent locations.</description>
        </subitem>   
        <subitem>
            <name>Manage plugins</name>
            <url>/plugins_view</url>
            <description>This page allows management of HouseAgent plugins.</description>
        </subitem>         
        <subitem>
            <name>Manage devices</name>
            <url>/devices_view</url>
            <description>This page allows management of the devices created in the HouseAgent database.</description>
        </subitem>  
    </item>
	<item name="View and control" url="#" image="/images/view_icon.png">
		<subitem>
			<name>Device control</name>
			<url>/control</url>
			<description>This page lists information about lighting and control devices, this basically is any device that has a controlable function.</description>
		</subitem>
		<subitem>
			<name>Values overview</name>
			<url>/values_view</url>
			<description>This displays an overview of all the devices in the database. (Current status etc.)</description>
		</subitem>	
	</item>
	<item name="Events" url="#events" image="/images/event_icon.png">
		<subitem>
			<name>Create event</name>
			<url>/event_create</url>
			<description>This page allows you to create a new event, and manage triggers and actions associated with the event.</description>
		</subitem>
        <subitem>
            <name>Manage events</name>
            <url>/events</url>
            <description>This page allows you to manage events.</description>
        </subitem>
	</item>
	<item name="Graphing" url="#events" image="/images/graph_icon.png">
		<subitem>
			<name>Create graph</name>
			<url>/create_graph</url>
			<description>This page allows you to create a graph, based upon historic data.</description>
		</subitem>
	</item>	
</items>