<%inherit file="/master.html"/>

<%def name="head()">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />
    <script src="/js/grid.locale-en.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>

    <script language='javascript'>
        $(document).ready(function() {

            var history_types = eval($.ajax({url: '/history_types', async: false, success: function(data, result) {if (!result) alert('Failure to retrieve history_types.');}}).responseText);           
            var history_types_list = "";
            var first = true;
            $.each(history_types, function(i, item){
                if (first) {
                    first = false;
                    history_types_list += item.id + ":" + item.name;
                } else {
                    history_types_list += ";" + item.id + ":" + item.name;
                }                
            });

            var history_periods = eval($.ajax({url: '/history_periods', async: false, success: function(data, result) {if (!result) alert('Failure to retrieve history_periods.');}}).responseText);
            var history_periods_list = "";
            var first = true;
            $.each(history_periods, function(i, item){
                if (first) {
                    first = false;
                    history_periods_list += item.id + ":" + item.name;
                } else {
                    history_periods_list += ";" + item.id + ":" + item.name;
                }
            });
                                
            jQuery("#values").jqGrid({
                url:'/values',
                datatype: "json",
                colNames:['Name','Value','Device', 'Address', 'Location', 'Plugin', 'Last update', 'History type', 'History period', 'Control type'],
                colModel:[
                    {name:'name',index:'name', width:70,editable:false,editoptions:{size:20}},
                    {name:'value',index:'value', width:70,editable:false,editoptions:{size:20}},
                    {name:'device',index:'device', width:70,editable:false,editoptions:{size:20}},
                    {name:'device_address',index:'device_address', width:70,editable:false,editoptions:{size:20}},
                    {name:'location',index:'location', width:70,editable:false,editoptions:{size:20}},
                    {name:'plugin',index:'plugin', width:70,editable:false,editoptions:{size:20}},
                    {name:'lastupdate',index:'lastupdate', width:140,align:"center",editable:false,editoptions:{size:20}},
                    {name:'history_type',index:'history_type', width:70,align:"center",editable:true,edittype: "select", editoptions:{size:20}},
                    {name:'history_period',index:'history_period',width:90,align:"center",editable:true,edittype: "select", editoptions:{size:20}},
                    {name:'control_type',index:'control_type', width:100,align:"center",editable:false,editoptions:{size:20}},
                ],
                rowNum:10,
                rowList:[10,20,30],
                pager: '#pagernav',
                sortname: 'id',
                viewrecords: true,
                sortorder: "desc",
                caption:"HouseAgent values",
                height:300,
                autowidth:true,
                jsonReader: {
                    repeatitems: false,
                    id: "id",
                    root: function (obj) { return obj; },
                    page: function (obj) { return 1; },
                    total: function (obj) { return 1; },
                    records: function (obj) { return obj.length; }
                },    
                loadComplete: function() {
                    $("#values").setColProp('history_type', { editoptions: { value: history_types_list} });
                    $("#values").setColProp('history_period', { editoptions: { value: history_periods_list} });
		},
            });
            
			$("#values").jqGrid('navGrid', '#pagernav',
			    {add:false, edit: true, search: false}, 
			    { // Edit parameters
			        mtype: "PUT",
			        url: "devices",
			        width: 380,
			    }, {width: 380},
			    { // Delete parameters
			        mtype: "DELETE",
			        serializeDelData: function () {
			            return ""; // don't send and body for the HTTP DELETE
			        },
			        onclickSubmit: function (params, postdata) {
			            params.url = '/values/' + encodeURIComponent(postdata);
			        }
			    });
        });    

        setInterval(function(){jQuery("#values").trigger("reloadGrid");}, 10000);

    </script>
</%def>
<%def name="content()">
<div class="HeadText">HouseAgent values</div>
<p>This page allows management and overview of the values created in the HouseAgent database.</p>
<table id="values"></table>
<div id="pagernav"></div>  
</%def>
